<h5 class="text-left">Comments</h5>
<div data-channel="comments" data-post-id="<%= @post.id %>">
  <% if @comments.blank? %>
    <%= render "comments/empty_comment" %>
  <% else %>
    <%= render partial: 'comments/comment', collection: @comments, cache: true %>
  <% end %>
</div>
<div id="new_comment" style="display: none">
  <%= render "comments/new_comment" %>
</div>
<div class="op-button-group">
  <% if current_user.nil? %>
    <%= link_to 'Log in To Comment', new_user_session_path, class: "btn btn-primary" %>
  <% end %>

  <% if can? :create, @post => Comment %>
    <button type="button" class="btn btn-primary toggle_button" data-toggle-target="#new_comment">
      Let Me Comment!
    </button>
  <% end %>
</div>