<%= simple_form_for @post, :html => { :class => 'form-horizontal post-form' } do |f| %>
  <%= f.input :title %>
  <%= f.label :content, required: true %>
  <div class="form-group d-flex flex-column">
    <%= f.rich_text_area :content %>
  </div>
  <div class="op_button_group">
    <% if @post.persisted? %>
      <!-- edit -->
      <% if @post.published %>
        <div>
          <%= f.button :button, "Save", type: "submit", name: "post[published]", value: "true", class: "btn btn-primary" %>
        </div>
      <% else %>
        <div>
          <%= f.button :button, "Post!", type: "submit", name: "post[published]", value: "true", class: "btn btn-success" %>
        </div>
        <div>
          <%= f.button :button, "Save Draft", type: "submit", name: "post[published]", value: "false", class: "btn btn-secondary" %>
        </div>
      <% end %>
    <% else %>
      <!-- create -->
      <div>
        <%= f.button :button, "Post!", type: "submit", name: "post[published]", value: "true", class: "btn btn-success" %>
      </div>
      <div>
        <%= f.button :button, "Save Draft", type: "submit", name: "post[published]", value: "false", class: "btn btn-secondary" %>
      </div>
    <% end %>
  </div>

<% end %>