<%= render 'shared/page_title', page_title: @post.title %>
<div class="form-group">
  <h5>By: <%= link_to @post.user.username, user_path(@post.user) %></h5>
</div>
<div class="form-group">
  <input id="post_content" type="hidden" value="<%= @post.content %>">
  <div class="editor-container">
    <div id="post-content-reader">
    </div>
  </div>
</div>
<%= link_to "Edit", edit_post_path(@post), class: "btn btn-primary" %>
<%= render 'shared/nav' %>