<tr>
  <th scope="row"><%= user.id %></th>
  <td><%= user.username %></td>
  <td><%= user.email %></td>
  <td><%= user.role %></td>
  <td>
    <div class="p-1 d-inline-flex flex-row">
      <%= link_to 'Cancel', unblock_profile_user_path(user), class: "badge badge-pill badge-secondary", method: :patch %>
    </div>
  </td>
</tr>