<%= render 'shared/page_title', page_title: "Sign up" %>
<%= render "shared/alert", resource: @user %>
<%= simple_form_for(@user, :url => user_registration_path, :html => {:class => 'form-horizontal' }) do |f| %>
  <%= f.input :username %>
  <%= f.input :email %>
  <%= f.input :password, required: true %>
  <%= f.input :password_confirmation, required: true %>
  <div class="form-group">
    <%= render "shared/captcha", f: f %>
  </div>
    <%= f.button :submit, "Sign up", class: "btn btn-primary" %>
<% end %>

<%= render "users/shared/links" %>
